#external{
	height: 400px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.siteLink{
	width:46%;
	height:100%;
	border:1px solid red;
	margin-right:4%;
}

/* YOUTUBE VIDEO */
.youtube {
  position:relative;
  width:50%;	
  height: 100%;
  border:1px solid blue;
  overflow: hidden;
}
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}