header{
	height: var(--topGap);
	border:1px solid blue;
	margin-bottom:20px;
}

/* 국가-리그-팀 선택 dropdown css */

.header-dropdown-container{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 70%;
	background-color:skyblue; 
}

.header-selecter-container{
	display:flex;
}
.header-selecter-contents {
	margin-right:10px;
}

/* menu hover css */
.header-hover-container{ 
	height: 30%;
}
.header-left-contents{
 	margin-left:20px;
 	height:100%;
	display:flex;
	align-items:center;
}

header .header-item{
	width : 20%;
	
}
header .header-item .item-name{
	padding:0 20px;
	font-family: Arial, sans-serif;
	font-size:20px;
	border:1px solid red;
}
header .header-item:hover .item-name{
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .header-item .item-contents{
  width: 100%;
  position: fixed;
  display: none;
}
header .header-item:hover .item-contents{
  display: block;
}

header.header-item .item-contents .contents-menu{ 
  /* background-color: #2c2a29; */
  background-color: blue;
  height: 200px;  
} 
header .header-item .item-contents .contents-menu .inner {
	width : 20%;
	background-color: orange;
	z-index: 10
}

header .header-item .item-contents .contents-menu .inner > li {
	width:100%;
	background-color: green;
	left:0
}



@media screen and (max-width: 700px) {
  .header-selecter-container, .header-hover-container{
	display:block;
  }
  .header-selecter-contents{
  	width: 80%;
  }
}
