@charset "UTF-8";
.playerInfo-container{
	display: grid;
	grid-template-rows: repaeat(5, 100px);
	grid-template-columns: repeat(4, 1fr);
	gap: 20px 10px;
	grid-template-areas:
		"name age . ."
		"picture1 . . ."
		"previousteam picture2 newteam picture3"
		"position picture4 picture4 picture4"
		". . . fee"
}
#player_name{ grid-area: name; }
#player_age{ grid-area: age; }
#player_picture{ grid-area: picture1; }
#previousteam{ grid-area: previousteam; }
#previousteam_picture{ grid-area: picture2; }
#newteam{ grid-area: newteam; }
#newteam_picture{ grid-area: picture3; }
#position{ grid-area: position; }
#position_picture{ grid-area: picture4; }
#fee{ grid-area: fee; }