@charset "UTF-8";
.playerInfo-container{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 2fr 2fr 2fr 1fr 2fr;  
/* 	gap: 20px 10px; */
	grid-template-areas:
		"picture_player name previousteam . newteam"
		"picture_player age picture_previousteam picture_arrow picture_newteam"
		"picture_player position picture_previousteam picture_arrow picture_newteam"
		"picture_player fee picture_previousteam picture_arrow picture_newteam"
}

#player_name{ grid-area: name; }
#player_age{ grid-area: age; }
#picture_player{ grid-area: picture_player; }
#previousteam{ grid-area: previousteam; }
#picture_previousteam{ grid-area: picture_previousteam; }
#newteam{ grid-area: newteam; }
#picture_newteam{ grid-area: picture_newteam; }
#position{ grid-area: position; }
#fee{ grid-area: fee; }
#picture_arrow{grid-area: picture_arrow;}

#picture_arrow > img{
	width: 80%; 
	height: inherit;
}

#previousteam, #newteam{
	text-align:center;
	margin : auto 0px; 
}
#player_name, #player_age, #position, #fee{
	margin : auto 0px auto 20px; 
}

#picture_player, #picture_previousteam, #picture_newteam, #picture_arrow{
	display: flex;
	justify-content:center;
	align-items:center;
}
#picture_previousteam img, #picture_newteam img{
	
	width:100px;
	height:100px;
}

