@charset "UTF-8";
.playerInfo-container{
		display: grid;
	grid-template-rows: repaeat(4, 100px);
	grid-template-columns: repeat(5, 1fr);
	gap: 20px 10px;
	grid-template-areas:
		"picture_player name previousteam . newteam"
		"picture_player age picture_previousteam picture_arrow picture_newteam"
		"picture_player position picture_previousteam picture_arrow picture_newteam"
		"picture_player fee picture_previousteam picture_arrow picture_newteam"
}
#player_name{ grid-area: name; }
#player_age{ grid-area: age; }
#picture_player{ grid-area: picture_player; }
#previousteam{ grid-area: previousteam; }
#picture_previousteam{ grid-area: picture_previousteam; }
#newteam{ grid-area: newteam; }
#picture_newteam{ grid-area: picture_newteam; }
#position{ grid-area: position; }
#fee{ grid-area: fee; }
#picture_arrow{ 
	grid-area: picture_arrow;
	/*  object-fit: fill;
	width: 50%; 
	height: 50%;
	max-width:100%;
	max-height:100%; */  
	}


/* image {
	width:50%;
	height:50%;
} */