.summaryDetail{
	margin: 1.2rem 0;
	border-radius:20px;
	background: #FFFDDC;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
}
.summaryDetail-container {
	width:90%;
}

.summaryDetail-title {
	font-size: 25px;
	font-weight:700;
	padding: 3rem;
	position:relative;
}
.summaryDetail-contents {
	border: none;
	background-color:white;
}

.summaryDetail-contents > div {
	padding: 1rem;
	border-bottom : 1px solid #F0EFEF;
	text-align: center;
	font-size: medium;
}
.summaryDetail-contents > .summaryDetail-contents-title{
	font-weight:700;
	background-color : #F0EFEF;
}
.summaryDetail-contents-title, .summaryDetail-contents-content {
	 display: grid;
	 grid-template-columns:repeat(6,1fr);
	 place-items: center;
}

.prev-btn, .next-btn{
	border-radius:10px;
	width:80px;
	height:40px;
	font-size:18px;
} 
.summaryDetail-btn{
	position:absolute;
	right:0;
}

/* .summaryDetail-detail-container{
	height:3rem;
    bottom: 0.3rem;
    left: 0.6rem;
    margin-bottom :0.6rem;
    display:flex;
    justify-content:end;
} */

.grid-noData-style {
	grid-column : 1/-1;
}

.summaryDetail-contents-content:hover{
   cursor:pointer;
   box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

